/*@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);*/

/* Page Style */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    color: #595959;
    font-size: 14px;
    line-height: 24px;
}

.main-container {
    display: flex;
    /*flex-direction: row; default*/
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    /*padding: 0px;*/
}

.main-content-section {
    /*display: flex;*/
    /*!*flex-direction: row; default*!*/
    /*flex-direction: column;*/
    width: 830px;
}

.about-me-section {
    /*background-color: gray;*/
}

.about-me-professional {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.my-projects-section {
    /*background-color: yellow;*/
}

.my-work-experience-section {
    /*background-color: blue;*/
}

.my-education-section {
    /*background-color: green;*/
}

/* Sidebar section */

.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.sidebar-image {
    width: 100%;
}

.sidebar-section-item {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
}

.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 7px;
}

.contacts-section-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
}

.sidebar-list {
    padding: 0 0 0 17px;
}

.sidebar-list-item {
    color: #fb6d3a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-list span {
    color: white;
}